aiohttp
anytree
aria2p
asgiref
apscheduler
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
dnspython
feedparser
flask
gc-python-utils
cinemagoer
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
lxml
markdown
mediainfo
pillow
psutil
pytz
pybase64
pycountry
pymongo
pyrogram==2.0.66
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgCrypto
urllib3
uvloop
waybackpy
xattr
yt-dlp