aiohttp
anytree
aria2p
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cinemagoer
cloudscraper
dnspython
feedparser
flask
gc-python-utils
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml>=4.9.1
markdown
mediainfo
pillow
psutil
pybase64
pycountry
pymongo
pyrogram==2.0.59
python-dotenv
python-magic
python-telegram-bot==13.15
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgCrypto
urllib3==1.26.15
waybackpy
xattr
yt-dlp