# This file contains the dependencies for the project.
# Use 'pip install -r requirements.txt' to install all dependencies.

# The versions of the packages are not specified, so the latest version will be installed.
# To specify a version, use 'package_name==version'.

oauth2client
google-api-python-client
progress
progressbar2
httplib2shim
google-auth-oauthlib
pyrogram==2.0.77
tgcrypto


pip install -r requirements.txt


google-auth-oauthlib==1.0.0
